################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dependancy_Injection/.vs/Dependancy_Injection/FileContentIndex/b04456b2-7c84-42e2-8926-2f5bbcfbec70.vsidx
